@charset "UTF-8";
/* CSS Document */

html, body {
  margin: 0px;
}

.clear {
  clear: both;
}

#wrapper {
  width: 100%;
  max-width: 960px;
  margin: auto;
}


/*---------- HEADER ----------*/

header {
  height: 300px;
  width: 100%;
  background: green;
}


/*---------- CONTENT AREA ----------*/

.col-3 {
  width: 100%;
  height: 320px;
  float: left;
}

#column-1 {
  background: #c8eb05;
}

#column-2{
  background: #566402;
}

#column-3{
  background: #07ec72;
}


/*---------- FOOTER ----------*/

footer {
  width: 100%;
  height: 30px;
  background: #ec6205;
}


/*---------- TABLET ----------*/
/* Change the colors below */

@media (min-width: 768px) {
  header {
    background-color: blue;
  }

  #column-1 {
    background-color: #0ab2e6;
  }

  #column-2 {
    background-color: rgb(10, 169, 231);
  }

  #column-3 {
    background-color: rgb(134, 14, 233);
    width: 100%;
  }

  footer {
    background-color: rgb(56, 4, 71);
  }

  .col-3 {
    width: 50%;
  }
}


/*---------- Desktops ----------*/
@media (min-width: 1200px) {
  header {
    background-color: rgb(253, 4, 4);
  }

  #column-1 {
    background-color: rgb(92, 21, 4);
  }

  #column-2 {
    background-color: rgb(235, 145, 145);
  }

  #column-3 {
    background-color: rgb(143, 77, 23);
    width: 33.3%;
  }

  footer {
    background-color: rgb(236, 204, 146);
  }

  .col-3 {
    width: 33.3%;
  }
}
